
/* .box:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-204deg, #7d58a5 0%, #56b5e3 67% );
    transform: translate3d(-60px, -50px, 0) scale(0.95);
    filter: blur(3px);
    opacity: var(0.77);
    transition: opacity 0.3s;
    border-radius: inherit;
} */
.box:before{
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* background: linear-gradient(-204deg, #7d58a5 0%, #56b5e3 67% ); */
    background: linear-gradient(-204deg, #00CC99 0%, #6600ff94 50% );
    transform: translate3d(-13px, -19px, 0) scale(1.05);
    opacity: var(0.77);
    transition: opacity 0.3s;
    /* border-radius: 10px; */
}

/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
.box::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}
        