.bg-image{
    background-image: url('./Assets/Shapes/bg1.svg');
    background-size: cover;
    background-repeat: no-repeat;
}
.btn-animate{
    animation: zoom-in-zoom-out 1s ease infinite;
}
/* Highlighted text */

/* .highlight-container, .highlight {
  position: relative;
}

.highlight-container {
  display: inline-block;
}
.highlight-container:before {
  content: " ";
  display: block;
  height: 90%;
  width: 100%;
  margin-left: -3px;
  margin-right: -3px;
  position: absolute;
  background: #ffd500;
  transform: rotate(2deg);
  top: -1px;
  left: -1px;
  border-radius: 20% 25% 20% 24%;
  padding: 10px 3px 3px 10px;
}  */
.realistic-marker-highlight{
  position:relative;
  z-index: 1000;
}
.realistic-marker-highlight:before{
  content:"";
  background-color:#fbbd23;
  width:100%;
  height:1.4em;
  position:absolute;
  z-index:-1;
  filter:url(#marker-shape);
  left:-0.25em;
  top:0.1em;
  padding:0 0.25em;
}
/*Button Animation */
@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.05, 1.05);
    }
    100% {
      transform: scale(1, 1);
    }
  }